<h1 class="my-5 text-center">Termékek</h1>

<div class="view-mode d-flex justify-content-evenly mb-4">
  <button class="btn btn-secondary" (click)="onClickGridView()">Rácsnézet</button>
  <button class="btn btn-secondary" (click)="onClickListView()">Listanézet</button>
</div>

<div class="row mb-4">
  <button class="btn btn-primary btn-block" routerLink="/products/0">Új termék</button>
</div>

<div class="grid-view" *ngIf="this.config.view === 'grid'" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="card-container d-flex flex-wrap justify-content-around">
    <div class="card mb-5" style="width: 18rem;"
      *ngFor="let product of list$ | async | slice:config.startItem:config.endItem">
      <img src="{{ product.photo }}" class="card-img-top" alt="Product">
      <div class="card-body">
        <h5 class="card-title text-center">{{ product.name }}</h5>
        <p class="card-text text-center">{{ product.description }}</p>
        <p class="card-text text-center"><b>{{ product.price }} Ft</b></p>
        <p class="card-text text-center"><b [innerHTML]="activeOrInactiveSign(product.active)"></b></p>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-secondary" routerLink="/products/{{ product._id }}">Szerkeszt</button>
        <button class="btn btn-danger" (click)="onClickDelete(product)">Töröl</button>
      </div>
    </div>
  </div>
</div>

<div class="list-view" *ngIf="this.config.view === 'list'">
  <app-data-table [tableColumns]="tableColumns" [list$]="list$" tableTitle="Termékek listája"
    (editClick)="onClickEdit($event)" (deleteClick)="onClickDelete($event)"></app-data-table>
</div>