<main class="form-signin mt-5">
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">

    <h1 class="h3 mb-3 fw-normal text-center mt-3">Bejelentkezés</h1>

    <div class="form-floating my-3">
      <input type="email" class="form-control text-dark" id="inputEmail" placeholder="Email" [(ngModel)]="admin.email"
        #emailField="ngModel" name="email" required autofocus>
      <label for="floatingInput" class="text-dark">E-mail</label>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="inputPassword" placeholder="Jelszó" name="password"
        [(ngModel)]="admin.password" #passwordField required>
      <label for="floatingPassword" class="text-dark">Jelszó</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" [disabled]="loginForm.invalid">Belépés</button>

    <div class="d-flex justify-content-center mt-3">
      <a routerLink="/forgottenPassword" class="link-primary">Elfelejtett jelszó</a>
    </div>

    <div *ngIf="serverError && loginForm.submitted" class="alert alert-danger mt-3">{{ serverError }}</div>

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>

  </form>
</main>