<div *ngIf="(this.error | async)!.hasError;else valid_link" class="text-center mt-5">
  <div class="row">
    <div class="col-6 offset-3">
      <div class="alert alert-danger" role="alert">
        <h4>{{ (this.error | async)!.message }}</h4>
      </div>
    </div>
  </div>
</div>

<ng-template #valid_link>
  <div class="row mt-5">
    <div class="col-6 offset-3">
      <h3 class="text-center">Új jelszó beállítása a fiókhoz</h3>
      <form class="mt-4" #restoreAccountForm="ngForm" (ngSubmit)="onSubmit(restoreAccountForm)">
        <div class="mb-3">
          <label for="emailField" class="form-label">Email cím:</label>
          <input type="email" class="form-control" id="emailField" [value]="email" readonly>
        </div>
        <div class="mb-3">
          <label for="password1Field" class="form-label">Új jelszó:</label>
          <input type="password" class="form-control" id="password1Field" name="password1" ngModel required>
        </div>
        <!-- <div class="mb-4">
          <label for="password2Field" class="form-label">Új jelszó újra:</label>
          <input type="password" class="form-control" id="password2Field" name="password2" ngModel required>
        </div> -->
        <div class="text-center">
          <button type="submit" class="btn btn-primary" [disabled]="restoreAccountForm.invalid"><i class="fa fa-save"></i> Mentés</button>
        </div>
      </form>
    </div>
  </div>
</ng-template>