<main class="form-signin mt-5">
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <h1 class="h3 mb-3 fw-normal text-center mt-3">Elfelejtett jelszó</h1>

    <div class="form-floating my-3">
      <input type="email" class="form-control text-dark" id="inputEmail" placeholder="Email" name="email" [(ngModel)]=email required
        autofocus [disabled]="emailDisabled">
      <label for="floatingInput" class="text-dark">E-mail</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary mt-2" type="submit" [disabled]="form.invalid || btnDisabled">Tovább</button>

    <div *ngIf="message && form.submitted" class="alert alert-success mt-3 text-center" [innerHTML]="message"></div>

    <p class="mt-5 mb-3 text-muted text-center">&copy; 2021</p>

  </form>
</main>