<h1 class="my-5 text-center">Adminok</h1>

<div class="view-mode d-flex justify-content-evenly mb-4">
  <button class="btn btn-secondary" (click)="onClickGridView()">Rácsnézet</button>
  <button class="btn btn-secondary" (click)="onClickListView()">Listanézet</button>
</div>

<div class="grid-view" *ngIf="view === 'grid'" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <div class="card-container d-flex flex-wrap justify-content-around">
    <div class="card mb-5" style="width: 18rem;"
      *ngFor="let admin of list$ | async | slice:config.startItem:config.endItem">
      <div class="card-body">
        <h5 class="card-title text-center">Felhasználónév:</h5>
        <p class="text-center">{{ admin.username }}</p>
        <h5 class="card-text text-center">Jelszó:</h5>
        <p class="text-center">{{ passwordHider(admin.password) }}</p>
        <p class="card-text text-center"><b [innerHTML]="activeOrInactiveSign(admin.active)"></b></p>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-secondary" (click)="onClickEdit(admin)">Szerkeszt</button>
        <button class="btn btn-danger" (click)="onClickDelete(admin)">Töröl</button>
      </div>
    </div>
  </div>
</div>

<div class="list-view" *ngIf="view === 'list'">
  <app-data-table [tableColumns]="tableColumns" [list$]="list$" tableTitle="Adminok listája"
    (editClick)="onClickEdit($event)" (deleteClick)="onClickDelete($event)"></app-data-table>
</div>