<div class="row">
  <div *ngIf="order" class="col-6 offset-3 mt-5">
    <form #orderForm="ngForm" (ngSubmit)="setOrderToDatabase(order, orderForm)">

      <div class="form-group mb-3">
        <label for="_id">Rendelésazonosító:</label>
        <input name="_id" [(ngModel)]="order._id" type="text" class="form-control" id="_id" required readonly>
      </div>

      <div class="choosable-name" *ngIf="!order._id">
        <label for="customer-select">Vásárló neve:</label>
        <select #customerSelected class="form-select mb-3" id="customer-select"
          (change)="onChangeCustomer(customerSelected.value)">
          <option selected>Válaszd ki a vásárlót</option>
          <option value="{{customer._id}}" *ngFor="let customer of customers">{{ customer.lastName }} {{
            customer.firstName }}</option>
        </select>
      </div>

      <div class="fix-name" *ngIf="order._id">
        <div class="form-group mb-3">
          <label for="name">Vásárló neve:</label>
          <input name="name" value="{{ order.customer.lastName }} {{ order.customer.firstName }}" type="text"
            class="form-control" id="name" required readonly>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="email">Vásárló email címe:</label>
        <input name="email" [value]="order.customer.email" type="email" class="form-control" id="email" required
          readonly>
      </div>

      <label for="products">Rendelt termékek:</label>

      <button class="btn btn-success w-100 mb-3" type="button" data-bs-toggle="modal"
        data-bs-target="#product-chooser">Termék hozzáadása</button>

      <table class="table" *ngIf="order.products.length || (tempProducts | async)?.length">
        <thead>
          <tr>
            <th>Termék neve</th>
            <th>Termék ára</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngIf="order._id">
          <tr *ngFor="let product of order.products">
            <td>{{ product.name }}</td>
            <td>{{ product.price }} Ft</td>
            <th><button class="btn btn-danger" (click)="onClickRemoveProductFromOrder(product)" type="button"><i
                  class="fa fa-trash"></i></button></th>
          </tr>
        </tbody>

        <tbody *ngIf="(tempProducts | async)?.length">
          <tr *ngFor="let product of tempProducts | async">
            <td>{{ product.name }}</td>
            <td>{{ product.price }} Ft</td>
            <th><button class="btn btn-danger" (click)="onClickRemoveProductFromTemp(product)" type="button"><i
                  class="fa fa-trash"></i></button></th>
          </tr>
        </tbody>

      </table>

      <div class="form-group mb-3">
        <label for="sum">Végösszeg:</label>
        <div class="input-group">
          <input name="sum" [value]="order.bill.sum + totalSum" type="number" class="form-control" id="sum" required
            readonly>
          <div class="input-group-append"><span class="input-group-text">Ft</span></div>
        </div>
      </div>

      <div class="form-group mb-3">
        <label for="note">Megjegyzés:</label>
        <input name="note" [(ngModel)]="order.note" type="text" class="form-control" id="note" required>
        <small [hidden]="orderForm.controls.note?.valid || orderForm.controls.note?.pristine"
          class="error-message">Hiányzó megjegyzés!</small>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="flexCheckDefault" name="status" [checked]="order.bill.paid">
        <label class="form-check-label" for="flexCheckDefault">Státusz</label>
      </div>

      <div class="d-flex mt-3 mb-5 justify-content-evenly">
        <button class="btn btn-secondary" type="button" (click)="backToTheOrderList()"><i class="fa fa-arrow-left"></i>
          Vissza</button>
        <button [disabled]="orderForm.invalid" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>
          Mentés</button>
      </div>

    </form>
  </div>
</div>

<app-product-chooser></app-product-chooser>