<h1 class="my-5 text-center">Számlák</h1>

<div class="view-mode d-flex justify-content-evenly mb-4">
  <button class="btn btn-secondary animated-btn" (click)="onClickGridView()"><i class="fa fa-th"></i> Rácsnézet</button>
  <button class="btn btn-secondary animated-btn" (click)="onClickListView()"><i class="fa fa-list"></i>
    Listanézet</button>
</div>

<div class="row mb-3 d-flex justify-content-center">
  <button class="btn btn-primary w-75" routerLink="/deliveries/0" disabled><i class="fa fa-plus"></i> Új
    számla</button>
</div>

<div class="grid-view" *ngIf="config.view === 'grid'" infiniteScroll [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <div class="card-container d-flex flex-wrap justify-content-around">
    <div class="card mb-5" style="width: 18rem;"
      *ngFor="let bill of list$ | async | slice:config.startItem:config.endItem">
      <div class="card-body bg-light">
        <h5 class="card-title text-center">{{ bill.customer.lastName }} {{ bill.customer.firstName }}</h5>
        <p class="card-text text-center mb-3">{{ bill.customer.email }}</p>
        <h6 class="card-text text-center mb-3">{{ bill.customer.address }}</h6>
        <p class="card-text text-center"><b>{{ bill.products.length }}</b> megrendelt termék</p>
        <p class="card-text text-center"><b>{{ bill.sum }} Ft</b></p>
        <p class="card-text text-center" [innerHTML]="activeOrInactiveSign(bill.paid)"></p>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-secondary" routerLink="/bills/{{ bill._id }}">Szerkeszt</button>
        <button class="btn btn-danger" (click)="onClickDelete(bill)" data-bs-toggle="modal"
          data-bs-target="#modal">Töröl</button>
      </div>
    </div>
  </div>
</div>

<div class="list-view" *ngIf="config.view === 'list'">
  <app-data-table [tableColumns]="tableColumns" [list$]="list$" tableTitle="Számlák listája"
    (deleteClick)="onClickDelete($event)"></app-data-table>
</div>

<app-modal [modalText]="modalText" [modalTitle]="modalTitle" (onClickAction)="deleteBillAction($event)"></app-modal>