<h1 class="my-5 text-center">Számlák</h1>
<table class="table table-striped table-sm">
  <thead class="">
    <th>Vásárló neve</th>
    <th>Vásárló email címe</th>
    <th>Vásárló lakcíme</th>
    <th>Termékek</th>
    <th>Összeg</th>
    <th>Fizetett</th>
    <th>Műveletek</th>
  </thead>
  <tbody>
    <tr *ngFor="let bill of bills$ | async">
      <td class="align-middle">
        {{ customerIdToCustomer(bill.customerID).lastName }}
        {{ customerIdToCustomer(bill.customerID).firstName }}
      </td>
      <td class="align-middle">{{ customerIdToCustomer(bill.customerID).email }}</td>
      <td class="align-middle">{{ customerIdToCustomer(bill.customerID).address }}</td>
      <td class="align-middle">
        <span *ngFor="let product of bill.products">{{ productIdToProduct(product).name }}<br></span>
      </td>
      <td class="align-middle">{{ bill.sum }} Ft</td>
      <td class="align-middle">
        <span *ngIf="bill.paid"><i class="fa fa-check"></i></span>
        <span *ngIf="!bill.paid"><i class="fa fa-remove"></i></span>
      </td>
      <td>
        <div class="btn-group">
          <button class="btn btn-secondary"><i class="fa fa-pencil"></i></button>
          <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>