<h1 class="my-5 text-center">Vásárlók</h1>

<div class="view-mode d-flex justify-content-evenly mb-4">
  <button class="btn btn-secondary" (click)="onClickGridView()">Rácsnézet</button>
  <button class="btn btn-secondary" (click)="onClickListView()">Listanézet</button>
</div>

<div class="grid-view" *ngIf="view === 'grid'" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
  (scrolled)="onScroll()">
  <div class="card-container d-flex flex-wrap justify-content-around">
    <div class="card mb-5" style="width: 18rem;"
      *ngFor="let customer of list$ | async | slice:config.startItem:config.endItem">
      <div class="card-body bg-light">
        <h5 class="card-title text-center">{{ customer.lastName }} {{ customer.firstName }}</h5>
        <h6 class="card-text text-center mb-3">{{ customer.email }}</h6>
        <p class="card-text text-center"><b>{{ customer.address }}</b></p>
        <p class="card-text text-center"><span [innerHTML]="activeOrInactiveSign(customer.active)"></span></p>
      </div>
      <div class="card-footer d-flex justify-content-evenly">
        <button class="btn btn-secondary" (click)="onClickEdit(customer)">Szerkeszt</button>
        <button class="btn btn-danger" (click)="onClickDelete(customer)">Töröl</button>
      </div>
    </div>
  </div>
</div>

<div class="list-view" *ngIf="view === 'list'">
  <app-data-table [tableColumns]="tableColumns" [list$]="list$" tableTitle="Vásárlók listája"
    (editClick)="onClickEdit($event)" (deleteClick)="onClickDelete($event)"></app-data-table>
</div>